@using Shoppy.Areas.Sell.Models.DTO
@model CreateSellOfferDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateSellOffer</h1>

<form action="create" method="post">
    <label>Product Titel:</label>
    <input class="form-control" type="text" name="ProductTitle" value="" />
    <br />
    <label>Price for a single product:</label>
    <input class="form-control" type="number" name="productPrice" value="" />
    <br />
    <label>Is the price negotiable:</label>
    <input class="form-control" type="checkbox" name="priceIsNegotiable" value="" />
    <br />
    <label>Quantity:</label>
    <input class="form-control" type="number" name="quantity" value="" />
    <br />
    <label>Tags:<br />If there are more than one tags separete them with space<br/> Not implemented yet</label>
    <input class="form-control" type="text" name="tags" value="" />
    <br />
    <button class="btn btn-primary" type="submit">Create SellOffer</button>
    @Html.AntiForgeryToken();
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

