@{
    ViewData["Title"] = "EditingSellOfferError";
}

<h1>An Error occuredd while @TempData["TheErrorHappendWhen"]</h1>

<p>@TempData["ExceptionMessege"]</p>

<a asp-area="AccountManagement" asp-controller="AccountManagement" asp-action="Index">Return to your account information</a>