
@{
    ViewData["Title"] = "CreatingSellOfferError";
}

<h1>An Error occuredd while creating the SellOffer</h1>
<p>@TempData["Error"]</p>
<a class="nav-link text-dark" asp-area="Sell" asp-controller="Sell" asp-action="Create">Try creating the SellOffer again</a>



