@{
    ViewData["Title"] = "EditingSellOfferError";
}

<h1>An Error occuredd while editing the SellOffer</h1>

<h6>@TempData["Error"]</h6>

<a asp-area="Sell" asp-controller="Sell" asp-action="Index">Try edditing a SellOffer again</a>