
@{
    ViewData["Title"] = "GettingDataFromDbError";
}

<h1>An error occurred while retrieving data fromt the database</h1>
<p>@TempData["ExceptionMessege"]</p>
<p>@TempData["ErrorMessege"]</p>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

