@model AccountInfoDTO

@{
    ViewData["Title"] = "Index";
}

<h1>Your account status</h1>

<div>   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperUserScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperUserScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Money)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddFunds">Add funds</a>
</div>
